/* Import das fontes */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*elementos do modal co fonte pixelada */
.modal * {
  font-family: "Press Start 2P", monospace !important;
  -webkit-font-smoothing: none !important; 
  -moz-osx-font-smoothing: grayscale !important;
  font-size: 1.2rem;
}
.modal .modal-title {
  font-size: 1.5rem;
}
.modal .btn {
  font-family: "Press Start 2P", monospace !important;
  font-size: 1rem;
}

/* Título estilizado */
#titulo {
  font-family: 'Fredoka', sans-serif;
  color: #FFCB05;
  -webkit-text-stroke: 4px #3B4CCA;
  paint-order: stroke fill;
}
